body {
  font-family: "Fira Sans", sans-serif;
}

#reset {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 0.25em 1em;
  border: 2px solid #292826;
  border-radius: 0.25em;
  background-color: gray;
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

#reset::before {
  content: 'Reset'
}

#reset:hover {
  background-color: #f9d324;
  color: black;
}

header h1 {
  margin: 0 0 0.2em;
  color: black;
  font-size: 5em;
  font-weight: 400;
}

header h3 {
  margin: 0 0 1em;
  color: gray;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
}

header .github-bar span:not(:last-child) {
  margin-right: 0.5em;
}

main {
  max-width: 640px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
}

section .demo {
  width: 100%;
}

.headline {
  display: flex;
  margin: 2em 0 1em;
}

.headline div {
  flex: 4;
}

.headline aside {
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
  font-size: 1.5em;
}

aside.finished::before {
  content: "finished";
}

aside.finished {
  border-color: rgba(150, 200, 60, 0.8);
  background: rgba(150, 200, 60, 0.1);
  color: rgba(150, 200, 60, 1);
}

aside.idle::before {
  content: "idle";
}

aside.idle {
  border-color: rgb(226, 177, 0, 1);
  background: rgba(254, 239, 179, 0.5);
  color: rgb(226, 177, 0, 1);
}

aside.running::before {
  content: "running";
}

aside.running {
  border-color: rgba(150, 200, 60, 0.4);
  background: rgba(150, 200, 60, 0.1);
  color: rgba(150, 200, 60, 1);
}

.demo .example {
  padding: 1em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'Inconsolata', monospace;
  color: black;
  background-color: #eee;
}

.demo .buttons {
  display: flex;
}

.demo .buttons a {
  cursor: pointer;
  flex: 1;
  padding: 0.25em;
  border: 2px solid #292826;
  border-radius: 0.25em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: gray;
}

.demo .buttons a:hover {
  color: #292826;
  background-color: #f9d324;
}

.demo .buttons a:not(:last-child) {
  margin-right: 2em;
}

.demo .clog-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25em;
  margin-top: 1em;
  box-shadow: 1px -2px 3px black;
  background: #eee;
}

.demo .clog-header span.terminal::before {
  content: 'ScrambleJS@';
}

.demo .clog-header span.terminal {
  flex: 1;
  font-family: 'Fira Code';
  font-weight: 500;
}

.demo .clog-header span:not(:first-child) {
  margin-left: 0.5em;
}

.demo .clog-header span.fas {
  cursor: pointer;
}

.demo .clog {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0 0 1em;
  box-shadow: 1px -2px 3px black;
  color: white;
  background: #292826;
}

.demo .clog code::before {
  content: '$ '
}

.demo .clog code {
  font-family: "Ubuntu Mono", monospace;
}

pre {
  padding: 1em;
  border: none;
  border-radius: 5px;
  margin: 0;
  background: #2d2d2d;
  overflow-x: auto;
  overflow-y: hidden;
}

code {
  font-family: 'Fira Sans', monospace;
  color: #ccc;
  background: #2d2d2d;
}

@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 4em;
  }

  header h3 {
    font-size: 1em;
  }
}