body {
  background: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
}

.btn-main {
  background-color: gray;
  color: #fafafa;
}

.btn-main:focus,
.btn-main:hover {
  background-color: #f9d324;
  color: black;
}

#fixedUnit {
  z-index: 10;
  position: fixed;
  top: -3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1em;
  transition: 250ms;
  text-align: center;
}

.github-bar {
  right: -3em;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github-bar a:first-child,
.github-bar a:last-child {
  display: flex;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.github-bar a:first-child {
  align-items: center;
  border: 1px solid #d5d5d5;
  border-color: rgba(27, 31, 35, 0.2);
  background-color: #eff3f6;
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  color: black;
}

.github-bar a:first-child i {
  margin-right: 0.4em;
}

.github-bar a:first-child:focus,
.github-bar a:first-child:hover {
  border-color: rgba(27, 31, 35, 0.35);
  background-color: #e6ebf1;
  background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
}

.github-bar a:last-child {
  position: relative;
  display: flex;
  margin-left: 0.5em;
  border: 1px solid #d4d4d4;
  background: #fafafa;
  color: black;
}

.github-bar a:last-child:focus,
.github-bar a:last-child:hover {
  color: crimson;
}

.github-bar a:last-child::before,
.github-bar a:last-child::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.github-bar a:last-child::before {
  top: 50%;
  left: -4px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: #fafafa;
}

.github-bar a:last-child::after {
  z-index: -1;
  top: 50%;
  left: -5px;
  margin-top: -7px;
  border-width: 7px 7px 7px 0;
  border-right-color: #d4d4d4;
}

header h1 {
  margin: 0 0 0.2em;
  color: black;
  font-family: 'Space Mono', monospace;
  font-size: 4em;
  font-weight: 400;
}

header h3 {
  margin: 0 0 1em;
  color: gray;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
}

article {
  max-width: 36em;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}

article > aside {
  z-index: 3;
  flex: 3;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

article > aside .terminal {
  z-index: 10;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: auto;
  transition: 500ms;
}

.terminal-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25em;
  border: 2px solid black;
  border-bottom: none;
  background: #eee;
}

.terminal-header span.terminal-title::after {
  content: 'scramble@ignatiusmb';
}

.terminal-header span.terminal-title {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
}

.terminal-header span:not(:first-child) {
  margin-left: 0.5em;
}

.terminal-header span.fas {
  cursor: pointer;
}

.terminal-body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 2px solid black;
  border-top: none;
  background: #2d2d2d;
}

.terminal code {
  color: #ccc;
}

.terminal-body code::before {
  content: '> ';
}

article > main {
  flex: 5;
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  margin: 4em 0;
}

section h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
}

section .demo {
  width: 100%;
}

.headline {
  display: flex;
  margin: 2em 0 1em;
}

.headline div {
  flex: 1;
}

.headline aside {
  width: 6.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.headline aside.finished {
  border-color: rgba(150, 200, 60, 0.8);
  background: rgba(150, 200, 60, 0.1);
  color: rgba(150, 200, 60, 1);
}

.headline aside.idle {
  border-color: rgb(226, 177, 0, 1);
  background: rgba(254, 239, 179, 0.5);
  color: rgb(226, 177, 0, 1);
}

.headline aside.running,
.headline aside.processing {
  border-color: rgba(150, 200, 60, 0.4);
  background: rgba(150, 200, 60, 0.1);
  color: rgba(150, 200, 60, 1);
}

.demo .example {
  white-space: nowrap;
  padding: 1em;
  border: 2px solid black;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #eee;
  font-family: 'Inconsolata', monospace;
  color: black;
}

.demo .buttons {
  display: flex;
}

.demo .buttons span {
  cursor: pointer;
  flex: 1;
  padding: 0.25em;
  border: 2px solid #292826;
  border-radius: 0.25em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: gray;
}

.demo .buttons span:not(:last-child) {
  margin-right: 2em;
}

.demo pre {
  margin-top: 2em;
}

footer span {
  margin-bottom: 0.5em;
}

/* footer package title link */
footer .title a {
  font-size: 2em;
  color: #f9d324;
}
footer .title a:hover {
  color: gray;
}
footer .title a:hover .scope {
  color: crimson;
}
footer .title a:hover .package {
  color: #8a0303;
}

@media only screen and (min-width: 480px) {
  header h1 {
    font-size: 5em;
  }

  header h3 {
    font-size: initial;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  article {
    max-width: 72em;
    flex-direction: row;
  }
}
