body {
  font-family: "Fira Sans", sans-serif;
}

a:hover,
a:focus {
  color: #444;
}

header h1 {
  margin: 0 0 1rem;
  color: black;
  font-size: 5rem;
  font-weight: 400;
}

header h3 {
  margin: 0 0 1rem;
  color: gray;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
}

header .github-bar span:not(:last-child) {
  margin-right: 0.5rem;
}